h1 {
    font-family: Helvetica;
}

p {
    color: black;
    font-family: Helvetica;
    max-width: min(800px, 80vw);
    overflow-wrap: break-word;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}